name: "Scan"

on:
  pull_request:
  push:
    branches:
      - "main"
  schedule:
    - cron: "0 4 * * 5"

permissions:
  contents: read

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ["javascript"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Initialize
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}

      - name: Node version
        id: retrieve-node-version
        run: |
          NODE_NVMRC=$(cat .nvmrc)
          NODE_VERSION=${NODE_NVMRC/v/''}
          echo "node_version=$NODE_VERSION" >> "$GITHUB_OUTPUT"

      - name: Node
        uses: actions/setup-node@v6
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: ${{ steps.retrieve-node-version.outputs.node_version }}

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Clean
        run: rm -rf dist

      - name: Analyze
        uses: github/codeql-action/analyze@v4
